@font-face {
  font-family: "Gilroy-Regular";
  src: url("@/assets/fonts/gilroy-regular.woff2") format("woff2"),
    url("@/assets/fonts/gilroy-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("@/assets/fonts/gilroy-bold.woff2") format("woff2"),
    url("@/assets/fonts/gilroy-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("@/assets/fonts/gilroy-light.woff2") format("woff2"),
    url("@/assets/fonts/gilroy-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
